<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 数据源 -->
    <context:property-placeholder location="classpath:db.properties" />

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>

    <!-- 事务管理器 -->
    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- 基于注解的事务管理 -->
    <tx:annotation-driven transaction-manager="dataSourceTransactionManager" />

    <!--

        配置 SqlSessionFactoryBean:
        MyBatis 提供的：org.mybatis.spring.SqlSessionFactoryBean
        MyBatisPlus 提供的：com.baomidou.mybatisplus.spring.MybatisSqlSessionFactoryBean

     -->
    <bean id="sqlSessionFactoryBean" class="com.baomidou.mybatisplus.spring.MybatisSqlSessionFactoryBean">
        <!-- 数据源 -->
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis-config.xml" />
        <!-- 别名处理 -->
        <property name="typeAliasesPackage" value="cn.huangxulin.mp.beans" />

        <!-- 注入全局MP策略配置 -->
        <property name="globalConfig" ref="globalConfiguration" />
    </bean>

    <!-- 定义MyBatisPlus的全局策略配置 -->
    <bean id="globalConfiguration" class="com.baomidou.mybatisplus.entity.GlobalConfiguration">
        <!-- 在2.3版本以后, dbColumnUnderline 默认值就是 true -->
        <property name="dbColumnUnderline" value="true" />

        <!-- 全局主键策略 -->
        <property name="idType" value="0" />

        <!-- 全局的表前缀策略配置 -->
        <property name="tablePrefix" value="t_" />
    </bean>

    <!-- 配置 Mybatis, 扫描 mapper 接口路径 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.huangxulin.mp.mapper" />
    </bean>

</beans>